/* 

  //// HEADER ////
  
*/
.logo-box {
  display: flex;
  justify-content: space-between;
}

.logo-box img {
    animation: move 1.5s alternate infinite;
}

.nav {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.authenticated {
  font-size: 1.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  background-color: #000;
  color: #fff;
}

.link:link,
.link:visited {
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  padding: 1rem 2rem;
  color: #000;
  transition: all 0.1s ease;
  text-align: center;
}

.link:hover{
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 5px 8px 0 #000;
}

.link:active {
  transform: translateY(-1px);
  box-shadow: 3px 3px 0 #000;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(4rem);
    }
}

/* 

  //// LISTING CARDS ////
  
*/

.listing {
  height: auto;
  width: 68.5rem;
  padding: 2rem;
}

.category {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
}

.description-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
}

.img-box {
  min-width: 30rem;
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description strong {
  display: block;
}

.description-text {
  line-height: 2;
  margin-bottom: 2.4rem;
}

.price {
  min-height: 10rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


/* 
  FORM

*/

.form {
  padding: 3rem 0;
  width: 55rem;
  text-align: center;
  min-height: 30rem;
  overflow: hidden;
}

.form-big {
  height: 43rem;
}

textarea {
  min-width: 40rem;
  height: 15rem;
  resize: none;
}

input {
  border-bottom: 2px solid #000;
  border-top: none;
  border-left: none;
  min-width: 40rem;
  margin: 1.5rem;
  background-color: transparent;
  height: 3.5rem;
  font-family: inherit;
  transition: outline 0.2s ease;
}

input:focus {
  outline: 3px solid #000;
  border: none;
}

input[type="submit"] {
  width: 13rem;
  transition: all 0.1s ease;
  margin-bottom: 2rem;
}

input[type="submit"]:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

input[type="submit"]:active {
  cursor: pointer;
  transform: translateY(-1px);
}

/* 

  CATEGORIES

*/

.categories {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
}