/* 

  //// HEADER ////
  
*/
.logo-box {
  display: flex;
  justify-content: space-between;
}

.logo-box img {
    animation: move 1.5s alternate infinite;
}

.nav {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.authenticated {
  font-size: 1.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  background-color: #000;
  color: #fff;
}

.link:link,
.link:visited {
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  padding: 1rem 2rem;
  color: #000;
  transition: all 0.1s ease;
}

.link:hover{
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 5px 8px 0 #000;
}

.link:active {
  transform: translateY(-1px);
  box-shadow: 3px 3px 0 #000;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(4rem);
    }
}

/* 

  //// LISTING CARDS ////
  
*/

.listing {
  height: 35rem;
  width: 68.5rem;
  padding: 2rem;
  display: block;
  overflow: auto;
}

.category {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
}

.description-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description p {
    line-height: 2;
    margin-bottom: 2.4rem;
}

.bid {
  font-size: 2.4rem;
}

/* 
  FORM

*/

.form {
  padding: 3rem 0;
  width: 50rem;
  text-align: center;
  height: 30rem;
}

.form-big {
  height: 43rem;
}

input {
  border-bottom: 2px solid #000;
  border-top: none;
  border-left: none;
  width: 30rem;
  margin: 1.5rem;
  background-color: transparent;
  height: 3.5rem;
  font-family: inherit;
  transition: outline 0.2s ease;
}

input:focus {
  outline: 3px solid #000;
  border: none;
}

input[type="submit"] {
  width: 13rem;
  transition: all 0.1s ease;
  margin-bottom: 2rem;
}

input[type="submit"]:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

input[type="submit"]:active {
  cursor: pointer;
  transform: translateY(-1px);
}