{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container block-body">
			<div class="listing box">
				<h3>{{ listing.title }}</h3>
				<div class="description-grid">
						{% if listing.image_url %}
								<div class="image-box">
										<img src="{{ listing.image_url }}" alt="{{ listing.title}} photo" width="100%">
								</div>
						{% else %}
								<div class="blank-image">
										This product has no image :(
								</div>
						{% endif %}
				<div class="description">
						<div class="description-text">
								{{ listing.description }}
						</div>
						<strong class="category">Category: {{ listing.category }}</strong>
						<strong class="bid">Price:<span class="green">{{ listing.starting_bid }}$</span></strong>
				</div>
			</div>
    </div>
	</div>
{% endblock %}