{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container block-body">
			<div class="listing box">
				<h3>{{ listing.title }}</h3>
				<div class="description-grid">
						{% if listing.image_url %}
								<div class="image-box">
										<img src="{{ listing.image_url }}" alt="{{ listing.title}} photo" width="100%">
								</div>
						{% else %}
								<div class="blank-image">
										This product has no image :(
								</div>
						{% endif %}
				<div class="description">
						<div class="description-text">
								{{ listing.description }}
						</div>
						<div class="price">
							<strong class="category">Category: {{ listing.category }}</strong>
							<strong class="bid">Price:<span class="green">{{ listing.starting_bid }}$</span></strong>
							Listed by: <strong>{{ listing.listed_by }}</strong>
						</div>
				</div>
			</div>
    </div>
		<div class="comments">
			{% for comment in comments %}
				<div>
					{{comment.text}}
					<strong>Author: {{ comment.author }}</strong>
				</div>
			{% empty %}
				No comments
			{% endfor %}
		</div>
		<form action="{% url 'comment' listing.id %}" method="post" class="form comment-form box">
			{% csrf_token %}
			<input type="text" name="text" class="box" placeholder=">Enter your comment here" required>
			<input type="submit" value="Comment" class="box link">
		</form>
	</div>
{% endblock %}