{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container block-body">
        <h2>Login</h2>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <form action="{% url 'login' %}" method="post" class="form box">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder=">Username_">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder=">Password_">
            </div>
            <input type="submit" value="Login" class="link box"><br>
            Don't have an account? <a href="{% url 'register' %}" class="link box">Register here.</a>
        </form>
    </div>

{% endblock %}