{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container block-body">
        <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post" class="form form-big box">
        {% csrf_token %}
        <div>
            <input autofocus type="text" name="username" placeholder=">Username_">
        </div>
        <div>
            <input type="email" name="email" placeholder=">Email Addres_">
        </div>
        <div>
            <input type="password" name="password" placeholder=">Password_">
        </div>
        <div>
            <input type="password" name="confirmation" placeholder=">Confirm Password_">
        </div>
        <input type="submit" value="Register" class="link box"><br>
        Already have an account? <a href="{% url 'login' %}" class="link box">Log In here.</a>
    </form>

    </div>
{% endblock %}